form {
    border: 3px solid black;
    background-color: #444;
    padding: 15px;
    color: #fff;
}

form div {
    width: 400px;
}

form div label {
    line-height: 40px;
}

form div input, form div button {
    float: right;
}

form div button {
    margin-left: 10px;
}
